{% extends 'base.html.twig' %}

{% block title %}Mon Panier - La Boutique Française{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <h1> Mon Panier :</h1>
        <div class="col-md-12 mt-5">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#ref</th>
                    <th scope="col">Produit</th>
                    <th class='text-center' scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in panier %} 
                    <tr>
                        <th scope="row"></th>
                        <td><img src="{{ asset('uploads/') }}{{product.product.illustration}}" class="panier-product-img" alt="{{product.product.slug}}">&ensp;{{product.product.subtitle}}</td>
                        <td class='text-center'>{{product.quantity}}</td>
                        <td class="font-weight-bold">{{product.product.price * 0.01}} €</td>
                        <td class="font-weight-bold">
                            <a href='{{path('panier_remove', {id : product.product.id} )}}' class="btn btn-danger  mb-4">Supprimer</a><br>
                            <a href='{{path('show_panier')}}' class="btn btn-light">Mettre de coté</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
