{% extends 'base.html.twig' %}

{% block title %}{{product.name}} - {{product.color}} - La Boutique Française{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4" style="width: 18rem;">
            <img src="{{ asset('uploads/') }}{{product.illustration}}" class="img-fluid" alt="{{product.name}}">
        </div>
        <div class="col-md-8">
            <h2 class='text-dark'> {{ product.name }} </h2>
            <h5 class="text-primary"> {{ (product.price / 100)|number_format(2, ',', '.') }} € </h5>
            <hr>
            <p class='text-dark'> {{ product.subtitle }}<br>
            {{ product.description }}<br>
            </p>
            <h5 class="text-dark"> Couleur : {{ product.color }} </h5>
            <a href='{{path("panier_add", {id : product.id}) }}' class="mt-2 btn btn-outline-success">AJOUTER AU PANIER</a>
        </div>

    </div>
{% endblock %}