{% extends 'base.html.twig' %}

{% block title %}Validation de la commande - La Boutique Française{% endblock %}


{% block content %}
<div class='container'>
    <h1>Récapitulatif :</h1>
    <p> Verifier vos informations avant de la paiement :</p>
    <hr>
    <div class='row'>
        <div class='col-md-6 text-center'>
        {% set html %}
            <h4>L'adresse de livraison : </h4>
            {{address.__toString()}}
            <h4>Le transporteur choisi : </h4>
            {{livreur.__toString()}}
        {% endset %}
        {{ html|replace({'[br]' : '<br/>', '[div]' : '<div class="mb-3">', '[/div]' : '</div>', '[small]' : '<small>', '[/small]' : '</small>'})|raw}}
        </div>
        <div class='col-md-6'>
        <h4>Ma commande : </h4>
        {% include './panier/recap.html.twig' with {panier: app.session.get('panier')} only %}
        <hr><p class='font-weight-bold mt-1'>Total avec frais de livraison : {{ (livreur.price + prixTotal) }}€ </p>
        <a class='btn-success btn-block btn mb-4' id='checkout-button'>Payer la commander | {{ (livreur.price + prixTotal) }}€</a>
        </div>
        <hr>
    </div>

</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
var stripe = Stripe("pk_test_51IQaYSCmsFH1G20FBuqkKwIfi2WLoWOAUx2nzPPX9kKktRIhDIiVJzF91dk6qHgRnKedliBOeQfhmBidw9DlEtlc00XcqlT5mT");
var checkoutButton = document.getElementById("checkout-button");
const URL = "/commande/create-session/{{ ref }}";
checkoutButton.addEventListener("click", function () {
fetch(URL, {
            method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
            if(session.error) {
                // Redirection :
                window.location.replace("{{ path('order') }}"); 
            } else {
                return stripe.redirectToCheckout({ sessionId: session.id });
            }
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
});
</script>
{% endblock %}