{% extends 'base.html.twig' %}

{% block title %}Validation de la commande - La Boutique Française{% endblock %}

{% block content %}

<h2>Ma commande : </h2>

<p>Veuillez choisir votre adresse de livraison et votre transporteur :</p>

<div class='row'>
    <div class='col-md-6'>
        {{ form_start(formOrder) }}
            <div class='row'>
                <div class='col-md-6'>
                    {{ form_row(formOrder.address) }}
                </div>
                <div class='col-md-6'>
                    {{ form_row(formOrder.livreurs) }}
                </div>
            </div>
        {{ form_end(formOrder) }}
    </div>
    <div class='col-md-6'>
        <p><b> Recapitulatif de la commande </b></p>
        {{ dump(app.session.get('panier')) }}
        <a href='' class='btn btn-action btn-success'> Payer </a>
    </div>

</div>

{% endblock %}
